$footer-background-color: $color-secondary !default;

@include declare-variables(footer-background-color);

#footer {
  @include clearfix;
  background: $footer-background-color;
  margin-top: -$padding-vertical * 10;
}

#columns {
  position: relative;
  z-index: 1;
}

#ftw-footer {
  @include row;
  @include auto-text-color($footer-background-color);
  @include clearfix();
  max-width: $max-width-page;
  margin: 0 auto;
  float: none;
  padding-top: $padding-vertical * 12;

  .portletWrapper {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .portlet {
    @include reset-definition-list();
  }

  .managePortletsLink {
    @include cell();
    @include gridwidth(16);
    @include gridposition(0);
    clear: both;
    > a {
      @include button($color-primary);
    }
  }
}

[id^="footer-column-"] {
  @include cell;
  @include gridwidth(16);
  @include gridposition(0);
  clear: both;
}

@include screen-small {
  #footer-column-1 {
    @include gridposition(0);
    @include gridwidth(8);
    clear: none;
  }

  #footer-column-2 {
    @include gridposition(8);
    @include gridwidth(8);
    clear: none;
  }

  #footer-column-3 {
    @include gridposition(0);
    @include gridwidth(8);
    clear: both;
  }

  #footer-column-4 {
    @include gridposition(8);
    @include gridwidth(8);
    clear: none;
  }
}

@include screen-large {
  #footer-column-1 {
    @include gridposition(0);
    @include gridwidth(4);
    clear: none;
  }

  #footer-column-2 {
    @include gridposition(4);
    @include gridwidth(4);
    clear: none;
  }

  #footer-column-3 {
    @include gridposition(8);
    @include gridwidth(4);
    clear: none;
  }

  #footer-column-4 {
    @include gridposition(12);
    @include gridwidth(4);
    clear: none;
  }
}
